.container {
  margin: 0px auto;
  width: 525px;
  height: 100%;
  background-color: white;
  font-family: "YD";
}

@font-face {
  font-family: "YD";
  font-weight: 50;
  src: url("./fonts/SUITE-Regular.ttf") format("truetype");
}
