.h1 {
  font-family: "TheJamsil5Bold", sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
  margin-top: 5%;
}

.h2 {
  font-family: "TheJamsil5Bold", sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
  margin-top: 5%;
}
