.div {
  margin-left: 50px;
  font-size: 25px;
  font-family: "YD";
}
.input {
  border: 3px solid #202020;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  height: 40px;
  width: 80%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.input_invalid {
  border: 3px solid red;
  background-color: #ff260098;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  height: 30px;
  width: 70%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.input_addPost {
  background-color: hsl(66, 95%, 47%);

  font-size: 40px;
  outline: none;
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word;
  font-family: "YD";
  resize: none;
}

.input_showPaper {
  font-size: 40px;
  outline: none;
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word;
  font-family: "YD";
  resize: none;
}
.input:focus {
  border-color: #007bff;
}
