.frame {
  margin: 5%;
  font-size: 20px;
  font-family: "TheJamsil5Bold", sans-serif;
  border-radius: 5px;
  border: 2px solid WHITE;
  color: black;
  background-color: white;
  text-align: right;
  padding: 20px 10px;
}

.frame_profile {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
  font-size: 20px;
  font-family: "TheJamsil5Bold", sans-serif;
  border-radius: 5px;
  border: 2px solid WHITE;
  color: black;
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 40px;
  padding-bottom: 20px;
}

.frame_currentTopic {
  margin: 10px;
  font-size: 20px;
  font-family: "TheJamsil5Bold", sans-serif;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.frame_inModal {
  margin: 5px;
  font-size: 20px;
  font-family: "TheJamsil5Bold", sans-serif;

  color: black;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
