.frame {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  font-size: 20px;
  font-family: "TheJamsil5Bold", sans-serif;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  text-align: right;
  padding-bottom: 20px;
}

.frame_currentTopic {
  margin: 10px;
  font-size: 20px;
  font-family: "TheJamsil5Bold", sans-serif;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.frame_inModal {
  margin: 5px;
  font-size: 20px;
  font-family: "TheJamsil5Bold", sans-serif;

  color: black;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
