.frame {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 20px;
  width: 100%;
  font-family: "TheJamsil5Bold", sans-serif;
  border-radius: 5px;
  border: 2px solid WHITE;
  color: black;
  background-color: rgb(245, 245, 245);
  text-align: left;
}
