.frame {
  margin: 5px 10px;
  font-size: 15px;
  width: 100%;
  font-family: "TheJamsil5Bold", sans-serif;
  border-radius: 5px;
  border: 2px solid white;
  color: black;
  background-color: white;
  text-align: left;
}
